/ejercicio2/ejercicio2/nbproject/private/
/ejercicio2/nbproject/private/
/ejercicio2/build/
/ejercicio3/ejercicio3/nbproject/private/
/ejercicio3/nbproject/private/
/ejercicio3/build/
/ejercicioextra2/ejercicioextra2/nbproject/private/
/ejercicio1/build/
/ejercicioextra2/build/
/ejercicioextra3/nbproject/private/
/ejercicioextra3/build/
/ejercicioextra4/nbproject/private/
/ejercicioextra4/build/